{% extends "base.html" %}
{% block title %}Detalhes do Colaborador{% endblock %}

{% block content %}
<h1 class="mb-3">{{ colaborador.nome }}</h1>

<ul class="list-group">
    <li class="list-group-item"><b>CPF:</b> {{ colaborador.cpf }}</li>
    <li class="list-group-item"><b>Cargo:</b> {{ colaborador.cargo }}</li>
    <li class="list-group-item"><b>Setor:</b> {{ colaborador.setor }}</li>
    <li class="list-group-item"><b>Admissão:</b> {{ colaborador.data_admissao }}</li>
</ul>

<a href="{% url 'colaboradores:listar' %}" class="btn btn-secondary mt-3">Voltar</a>
{% endblock %}
