<aside class="sidebar p-3" id="appSidebar">
  <div class="d-flex align-items-center mb-3">
    <img src="https://via.placeholder.com/48" alt="avatar" class="rounded-circle me-2">
    <div>
      <div><strong>Usuário Demo</strong></div>
      <small>RH / Demo</small>
    </div>
  </div>

  <hr style="border-color: rgba(255,255,255,0.1)">

  <nav class="nav flex-column">
    <a class="nav-link mb-1" href="{% url 'colaboradores:listar' %}">Colaboradores</a>
    <a class="nav-link mb-1" href="#">Equipamentos</a>
    <a class="nav-link mb-1" href="#">Controle de EPI</a>
    <a class="nav-link mb-1" href="#">Relatórios</a>
    <a class="nav-link mb-1" href="#">Configurações</a>
  </nav>
</aside>
